@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a project for a "Visual Programming" class.
        The project is a simple web application implementing a product catalog. It contains two entities: Perfume(product) and Brand(manufacturer).
        The application allows you to perform CRUD operations, filtering and searching on both types of objects.</p>
</div>
